/* Classi inserite con il js (VueJS) */
.larghezza{
    width:200px;
    margin-bottom: 20px;
}
.hidden{
    display:none;
}
.show{
    display: block;
}
.box-image img{
    width:200px;
}
.box-image img{
    margin-bottom: 20px;
}

/* --------------------------------------- */
/* Classi normali css */
